div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    /*
    transform: rotate(45deg);
    transform: rotate(1turn);
    transform: rotate(0.5turn);
    transform: rotate(0.25turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);*/
}
div:hover{
    transform: scale(3,2) rotateZ(1turn);
    transition: 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(3,2) rotateZ(1turn);
    -moz-transform: scale(3,2) rotateZ(1turn);
    -ms-transform: scale(3,2) rotateZ(1turn);
    -o-transform: scale(3,2) rotateZ(1turn);
    opacity:0,6;
}