div{
    display: flex;
    background-color: rgb(127, 255, 176);
    position: relative;
    margin: 20px auto;
    width: 800px;
    height: 500px;
}
.a{
    background-color: blue;
    width: 100px;
    height: 50px;
    display: flex;
    position: absolute;
    transform: translate(350% , 350%);
    -webkit-transform: translate(350% , 350%);
    -moz-transform: translate(350% , 350%);
    -ms-transform: translate(350% , 350%);
    -o-transform: translate(350% , 350%);
}
