  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  .parent {
    background-color: #eee;
    width: 800px;
    height: 300px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    

  }
  .parent div {
    
    background-color: #f00;
    color: white;
    width: calc(90% / 3);
    height: 50px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    

    
  }