*{
    box-sizing: border-box;
}
.parent{
    margin: 10px auto;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
    gap: 10px 10px;
    grid-template-areas: 
    "h1 h1 h1 nav"
    "section aside aside nav"
    "footer footer footer footer"
    ;
    
}
.parent div{
    display: grid;
    margin: 10px;
    background-color: white;
}
header{
    gap: 10px 10px;
    grid-area: h1;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
}
nav{
    display: grid;
    grid-area: nav;
    grid-template-rows: repeat(1,1fr);
    background-color: black;
    color: white;
    gap: 10px 10px;
}
section{
    grid-area: section;

}
aside{
    grid-area: aside;
}
 .parent .a1{
    background-color: black;
    color: white;
}
footer{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-area: footer;
}

