.page{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
:root{
    --baground :darkgrey; 
}
.header{
    background-color: var(--baground); 
    margin: 10px;
    display: flex;

    
}
.logo{
    display: flex;
    background-color: var(--baground); 
    width: 5%;
    align-items: center;
    justify-content: center;
}
ul{

}
.links{
    display: flex;
    margin-left: 10px;
    background-color: var(--baground); 
    width: 90%;
    align-items: flex-end;
    justify-content: flex-end;
    
}
li{
    display: flex;
    float: left;
    margin: 10px;
    
}


.main-area{
    display: flex;
    background-color:rgb(255, 255, 255);; 
    justify-content: space-between;
    margin: 10px;
}
.content{
    padding: 10px;
    background-color: var(--baground); 
    width: 65%;
    height: 300px;
}
.sidebar{
    background-color: var(--baground);
    width: 30%;
    height: 300px;
    padding: 10px;

}
.footer{
    margin: 10px;
    display: flex;
    background-color: var(--baground);
    flex-direction: row;
}
.copyright{
    width: 70%;
    background-color:var(--baground);
    display: flex;
    justify-content: flex-start;
}
.design{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--baground);
    
    
    
}
